*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0rem;
  font-family: 'Roboto',sans-serif;
  font-size: var(--primary-font-size);
  line-height: 1.6;
  color: var(--primary-text);
  background-color: var(--background-color);
  /* clean look on mobile */
  -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   /* prevents accidental horizontal scrolling on mobile. */
   overflow-x: hidden;
}

/* universal fonts */
h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}


.hero p {
  font-size: 1.125rem; /*18px*/
}

/* correct scrolling */

section {
  scroll-margin-top: 70px;
}

/* Desktop nav in mobile mode */

.nav-links {
  display: none;
}

.nav-bar {
  position: fixed;
  background-color: var(--secondary-color);
  top: 0;
  width: 100%;
  box-shadow: 0 2px 10px (0, 0, 0, 0, 0.5);
  z-index: 1003;
  background: transparent;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: var(--accent-color);
}

.nav-logo {
  height: 40px;
}

nav {
  background: var(--background-light);
  box-shadow: 5px 4px 15px rgba(11, 60, 93, 0.2);
  text-shadow: 1px 1px 1px rgba(227, 226, 233, 0.8);
  border-bottom: 2px solid seashell;
}

nav li {
  height: 2.4rem;
}

.nav-links li a:active {
  transform: translateY(4px) scale(0.95);
}

.nav-links li a.active {
  color: var(--secondary-color);
  text-shadow: 0 4px 8px rgba(8, 117, 190, 0.9);
}


nav img {
  width:50px;
  height: 50px;
  border-radius: 3px;
}

/* Menu toggle */

.menu-toggle {
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  display: block;
}

/* Dropdown menu */

.dropdown-menu {
  position:fixed;
  left: -75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  width: 65%;
  z-index: 1002;
  border-bottom: 2px solid rgb(33, 33, 47);
  height: 100vh;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  transition: left 0.3s ease;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2); 
}

.dropdown-menu li {
  margin-bottom: 1.5rem;
  padding: 0.75rem 0;
  background-color: none;
}

.dropdown-menu li a {
  position: relative;
  display: block;
  padding: 1px;
  color: whitesmoke;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: none;
}

.dropdown-menu li a:hover {
  color: var(--secondary-color);
  transform: translateX(6px);
}

.dropdown-menu li a::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-10%) scale(0);
  width: 4px;
  height: 70%;
  background-color: var(--secondary-color);
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.dropdown-menu li a:hover::before {
  transform: translateY(-10%) scale(1);
}

.dropdown-menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: var(--secondary-color);
  transition: width 0.3s ease;
}

.dropdown-menu li a:hover::after {
  width: 98%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(11, 60, 93, 0.40);
  display: none;
  z-index: 1000;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(2px);
}

.overlay.active {
  display: block;
}

.dropdown-menu.active {
  left: 0;
}

@keyframes slideDown {
  0% {opacity: 0; transform: translateY(-10px);}
  100% {opacity: 1; transform: translateY(0);}
}

/* company logo in menu */

.menu-logo {
  margin-top: 2rem;
  text-align: center;
}

.menu-logo img {
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

.menu-logo {
  text-align: center;
}

/* Hero section */

.hero {
  position: relative;
  height: 100vh;
  background-image: url('../images/Anchor.jpg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-bottom: 2px solid rgb(33, 33, 47);
  margin-top: 5rem;
}

/* Hero overlay */

.hero-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(11, 60, 93, 0.75),
    rgba(11, 60, 93, 0.55)
  );
  display: flex;
  align-items: center;
}

/* hero content */

.hero-content {
  color: white;
  padding: 0 2rem;
  max-width: 600px;
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

/* hero span */

.highlight {
  color: var(--secondary-color);
  text-shadow: 0 0 12px rgba(28, 167, 236, 0.6);
}

/* CTA Buttons */

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-primary {
  position: relative;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.6rem 1.6rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 1rem;
  font-family: inherit;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 6px 0 rgba(11, 60, 90, 0.04);
}


.btn-primary:hover {
  background-color: var(--primary-color);
}

/* primary btn before and after */

.btn-primary::after {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.05);
  transform: scaleX(0);
  transform-origin: left;
}

.btn-primary:hover::before {
  width: 100%;
  left: 0;
}

.btn-primary:hover::after {
  transform: scaleX(1);
}

/* secondary btn */

.btn-secondary {
  position: relative;
  display: inline-block;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  transition: color 0.3s ease, border-color 0.3s ease;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}



/* before and after seconday buttons */

.btn-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  transition: left 0.3s ease;
  z-index: -1;
}

.btn-secondary::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg, 
    transparent,
    rgba(255, 255, 255, 0.4)
  );
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.btn-secondary:hover::before {
  left: 0;
}

.btn-secondary:hover::after {
  left: 130%;
}

.btn-secondary:hover {
  border-color: var(--secondary-color);
}

/* before and after button unviersal styles*/

.btn-primary::before, 
.btn-secondary::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  bottom: 0;
  left: 50%;
  transition: all 0.3s ease;
}

/* button sinking */

.btn-primary,.btn-secondary {
  transition: transform 0.08s ease, box-shadow 0.08s ease; 
}

.btn-primary:active,
.btn-secondary:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 reba(0, 0, 0, 0.03);
  box-shadow: 0 2px 0 rgba(12, 11, 11, 0.3);
  border-radius: 3px;
}

/* services section */
.services {
  background-color: var(--accent-color);
  padding: 6rem 2rem;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* section heading */

.services h2 {
  text-align: center;
  font-size: 2.4rem;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

/* grid layout */

.services-grid {
  display: grid;
  gap: 4rem;
}

@media (min-width: 900px) {
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* service cards */

.service-card {
  position: relative;
  background-color: whitesmoke;
  padding: 2.5rem 2rem;
  border-radius: 16px;
  box-shadow: 12px 15px 35px rgba(11, 132, 213, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  margin-bottom: -1rem;
}

/* service cards hover */

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 3px 2px 5px 8px rgba(1, 12, 114, 0.3);
  transition: transform 0.3s ease;
}

.service-card h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.price {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 1rem 0;
}

.service-card hr {
  border: none;
  height: 1px;
  background: #e5e7eb;
  margin: 1.5rem 0;
  padding: 1.5px 0;
  border-bottom: 1px solid seashell;
}
.service-card ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.service-card ul li {
  font-size: 0.95rem;
  margin-bottom: 0.6rem;
  padding-left: 1.4rem;
  position: relative;
  font-size: 0.9rem;
  opacity: 0.9;
}

.service-card ul li::before {
  content:"";
  position: absolute;
  left:0;
  color: var(--secondary-color);
  font-weight: bold;
}

/* button alignment */
.service-card .btn-primary {
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.service-card::before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  box-shadow: 1px 1px 1px 1.5px rgba(11, 60, 93, 0.70);
}

/* Optional services */

.addons {
  background-color: whitesmoke;
  padding: 5rem 2rem;
}

/* addons-container */

.addons-container {
  max-width: 1100px;
  margin: 0 auto;
}

.addons-header {
  margin-top: -2.5rem;
  margin-bottom: 2rem;
}

.addons-header h2 {
  padding-bottom: 2rem;
  color: var(--primary-color);
}

/* grid layout */

.addons-grid {
  display: grid;
  gap: 2rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .addons-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* add-on cards style */

.addon-card {
  border: 1px solid #c8d0e1;
  padding: 1.5rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* addon-card hover */

.addon-card:hover {
  border-color: var(--secondary-color);
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgba(11, 60, 93, 0.8);
}

/* addon-prices */

.addon-price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 0.5rem 0 1rem;
  white-space: nowrap;
}

/* addon-card h3 styling */

.addon-card h3 {
  margin: 0 0 0.05rem;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.addon-card p {
  margin: 0;
  opacity: 0.8;
}

/* Why-us */

.why-us {
  background-color: var(--accent-color);
  padding: 2rem 2rem;
}

/* why-container */
.why-container {
  max-width: 1100px;
  margin: 1rem auto;
}

/* intro styling */

.why-intro {
  text-align: center;
  margin-bottom: 1rem;
}

.why-intro h2 {
  font-size: 2.3rem;
  color: var(--primary-color);
  line-height: 1.6;
  padding-bottom: 1rem;
}

.why-intro p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  max-width: 700px;
}

.highlight {
  font-weight: 600;
}

/* why us grid */

.why-grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* benefit cards */

.why-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 12px 30px rgba(11, 60, 93, 0.2);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-top: 1.3rem;
}

/* icon styles */

.why-icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.why-items h3 {
 
  margin: 0 0 0.5rem;
  color: var(--primary-color);
}

.why-items:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(11, 60, 93, 0.30);
}

.why-text p {
  align-items: center;
  margin: 0;
  line-height: 1.6;
  opacity: 0.85;
}

/* How it works section */

.how-it-works {
  background-image: url("../images/How\ it\ works.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.how-overlay {
  background: rgba(11, 60, 93, 0.7);
  padding: 10rem 2rem;
  border-bottom: 0.5px solid rgba(11, 60, 93);
  box-shadow: 0 1px 1px 1px rgba(11, 60, 93);
  border-radius: 3px;
}

.how-it-works h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  /* text-shadow: 2px 2px 5px rgba(9, 9, 9, 0.9); */
  color: var(--secondary-color);
  opacity: 0.9;
}

.how-it-works p {
  color: var(--secondary-color);
  font-size: 1.5rem;
  /* text-shadow: 1px 1px 3px rgba(9, 9, 9, 0.9); */
  margin-bottom: 2rem;
  opacity: 0.9;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.step {
  text-align: center;
  max-width: 280px;
}

.step h3 {
  margin-bottom: 0.5rem;
  color: var(--accent-color);
  text-shadow: 2px 2px 5px rgba(9, 9, 9, 0.9);
}

.step p {
  opacity: 0.9;
  color: var(--accent-color);
  text-align: center;
  text-shadow: 2px 2px 5px rgba(9, 9, 9, 0.9);
}

/* contact us section */

.contact-cta {
  background: var(--primary-color);
  color: whitesmoke;
  padding: 5rem 2rem;
  text-align: center;
}

/* cta-container */

.cta-container {
  max-width: 900px;
  margin: 0 auto;
}

.contact-cta h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.cta-benefits {
  margin-bottom: 2.5rem;
}

.cta-benefits p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.cta-benefits i {
  color: var(--secondary-color);
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.contact-cta h3 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 3rem 8rem;
}

.btn-outline {
  border: 2px solid white;
  margin-top: 12px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  transition: color 0.3s ease, border-color 0.3s ease;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.btn-outline:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  transition: left 0.3s ease;
  z-index: -1;
}

.btn-outline::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg, 
    transparent,
    rgba(255, 255, 255, 0.4)
  );
  transform: skewX(-20deg);
  transition: left 0.5s ease;
  
}

.btn-outline::before {
  left: 0;
}

.btn-outline:hover::after {
  left: 130%;
}

.btn-outline:hover {
  border-color: var(--secondary-color);
}

/* footer */

.footer {
  background: #082c44;
  color: whitesmoke;
  padding: 3rem 2rem;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-col h3 {
  margin-bottom: 1rem;
}

.footer-col a {
  display: block;
  margin-bottom: 0.7rem;
  color: whitesmoke;
  text-decoration: none;
  opacity: 0.85;
}

.footer-col a:hover {
  opacity: 1;
}

.footer i {
  margin-right: 8px;
  color: var(--secondary-color);
}

.social-ions {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}

.social-ions a {
  color: whitesmoke;
  transition: transform 0.2s ease;
}

.social-ions a:hover {
  transform: translateY(-3px);
}

.footer-bottom {
  width: 100%;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.7;
}

/* Media queries */

/* =========================
   TABLET STYLES (768px+)
========================= */

@media (min-width: 768px) {

  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .addons-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .cta-buttons {
    flex-direction: row;
  }

}


/* =========================
   DESKTOP STYLES (1024px+)
========================= */

@media (min-width: 1024px) {

  .menu-toggle {
    display: none;
  }

  .dropdown-menu {
    display: none !important;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    margin-right: 6rem;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .nav-links a:hover {
    color: rgba(57, 72, 104, 0.80);
  }

  .nav-links li a {
    position: relative;
    transition: transform 0.08s ease, color 0.2 ease, text-shadow 0.2s ease;
  }

  .nav-links li a:hover {
    transform: translateY(-10px);
    text-shadow: 0 4px 6px rgba(11, 60, 93, 0.30);
    color: rgb(32, 45, 85, 0.8);
  }

  .nav-links li a:active {
    transform: translateY(4px);
    text-shadow: 0 1px 2px rgba(11, 60, 93, 0.2);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .steps {
    flex-direction: row;
  }

  .addons-header {
    text-align: center;
  }

  .why-intro p {
    text-align: center;
    width: 100%;
    margin-left: 12rem;
  }

  .btn-outline {
    padding: .4rem .7rem;
    margin-top: 2px;
    margin-left: 12px;
  }

  .footer-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
  }

  .footer-col {
    width: 40%;
  }

  .footer-col:first-child {
    border-right: 1px solid rgba(225, 255, 255, 0.2);
    padding-right: 3rem;
  }

  .footer-col:last-child {
    padding-left: 3rem;
  }

  .footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
}
